
@{
    ViewBag.Title = "UserHome";
}

<div class="jumbotron">
    <h1>Flats Management System</h1>
    <p><a href="~/Flats/AllFlats" class="btn btn-primary btn-lg">View All Flats &raquo;</a></p>
    <p><a href="~/RMC/ManageRents" class="btn btn-primary btn-lg">Manage Customers &raquo;</a></p>
</div>

<img src="~/Images/grant-lemons-jTCLppdwSEc-unsplash.jpg" width="1150" />

