@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Flats Management System</h1>
    <p><a href="~/Users/SignUp" class="btn btn-primary btn-lg">SignUp &raquo;</a></p>
</div>


<img src="~/Images/grant-lemons-jTCLppdwSEc-unsplash.jpg" width="1150"/>